Ce notebook a pour but de créer un nouveau jeu de données à partir de `Parcours_1` en réduisant la fréquence d'échantillonnage. `Parcours_1` est échantillonné à 20Hz.

In [50]:
import pandas as pd
import numpy as np

dataset_path = '../datasets/Parcours_1/'
data = pd.read_csv(dataset_path + 'data.csv', header=None)
data.head()

                 0                    1
0  132859305850000  132859305850000.png
1  132859355900000  132859355900000.png
2  132859405950000  132859405950000.png
3  132859456000000  132859456000000.png
4  132859506050000  132859506050000.png

Sous-échantillonnage :

In [51]:
freq = 1  # en Hz
n_images = int(data.shape[0] / 20 * freq)
new_index = np.linspace(0, data.shape[0], endpoint=False, num=n_images, dtype=int)
new_data = data.loc[new_index, :]
new_data.index = range(0, new_data.shape[0])
new_data.shape

(424, 2)

Sauvegarde :

In [52]:
new_data.to_csv(dataset_path + f'data_{freq}hz.csv', header=False)